#mapid { 
    height: 1200px; 
}

.btn { 
    font-size: 20px; 
}

.minimap {
    border: 1px solid blue;
  position: absolute !important;
  top: 20px;
  left: 20px;
}
.design {
  border: 1px solid black;
}
