html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #0f0919;
  color: white;
  font-family:'Roboto',sans-serif;
}
.tabSwitchRow {
  height: 50px;
}
.mapTab {
  height: calc(100% - 50px);
}
.factoryTab {
  height: calc(100% - 50px);
}
.mapInfoSidebar {
    height: 100%;
    width: 270px;
    float: left;
    padding: 10px;
}
.allFactoriesIoRow span {
  display: inline-block;
  width: 220px;
}
.allFactoriesIoRow span + span {
  width: 50px;
}
.mapContainer { 
    height: 100%;
    width: calc(100% - 300px);
    float: left;
}
button{
    display:inline-block;
    padding:0.35em 1.2em;
    margin: 5px;
    background: transparent;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    }
button:hover{
    color:#000000;
    background-color:#FFFFFF;
}
button.big {
    font-size: 18px;
}
.factoryLeftContainer {
  height: 100%;
  width: 270px;
  padding: 10px;
  float: left;
  background: #18165C;
}
.allFactoriesIoRow {
  margin: 20px 0;
}
.factoryRightContainer {
  height: 100%;
  width: calc(100% - 290px);
  float: left;
}
.factoryIoRow {
  margin: 20px 0;
}
.factoryBlockContainer {
  width: 300px;
  height: 220px;
  padding: 1px;
  background: #7D7AE1;
  color: white;
  border-radius: 8px;
}
.factoryBlockMachinesLabel {
  margin-right: 10px;
}
.factoryBlockMachinesAmount {
  width: 50px;
}
.factoryBlockRow {
  margin: 10px 10px;
}
.factoryBlockItems span {
  display: inline-block;
  width: 220px;
}
.factoryBlockItems span + span {
  width: 50px;
}